body {
  background-image: url(./d2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
#tt {
  text-align: center;
  font-size: 50px;
  margin-top: 0%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  font-weight: 1500;
}

#bx1 {
  margin-left: 25%;
  padding: 10px;
  height: 50px;
  width: 50%;
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  border-width: 2px;
  border-style: dashed;
  background-color: rgb(224, 7, 159);
}
.in {
  margin-left: 22%;
  padding: 10px;
  height: 400px;
  width: 56%;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  color: white;
  border-width: 3px;
  border-style: groove;
  background-color: rgb(11, 12, 10);
  overflow-x: hidden;
  overflow-y: auto;
}
.inn {
  margin-left: 10%;
  margin-top: 8px;
  padding: 10px;
  height: 40px;
  width: 80%;
  display: flex;
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  border-width: 2px;
  border-style: dashed;
  color: black;
  background-color: rgb(252, 239, 251);
}
li {
  list-style: none;
}
.st {
  background-color: tomato;
}
.et {
  background-color: yellowgreen;
}
.ring {
  background-color: rgb(66, 69, 228);
}
.ping {
  background-color: cyan;
}
.sd {
  margin-left: 1%;
  margin-top: 0%;
  height: 90%;
  width: 9%;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid rgb(12, 10, 10);
  color: white;
}
